<div>
  <div>
    <h1>Assignments</h1>

    <div id="assignments" class="container overflow-hidden">
      <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
        <% @assignments.each do |assignment| %>
          <!-- Modal -->
          <a href="<%= course_assignment_path(@course, assignment) %>" class="col-6">
            <div class="Course border col p-3 rounded">
              <div class="title text-center"><small><%= assignment.course.name %></small></div>
              <hr class="opacity-50">
              <p class="text-center"><small><%= assignment.title %></small></p>
              <small><%= assignment.marks %> marks</small>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div> 
</div>
<br>

<%= link_to "New assignment", new_course_assignment_path(@course), class:"btn btn-outline-primary" %>
<%= link_to "Back", main_path, class:"btn btn-outline-primary" %>
