<% provide(:title, "show student") %>
<br/>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <th scope="col">Name</th>
    <th scope="col">Student id</th>
    <th scope="col">Faculty</th>
    <th scope="col">Field of study</th>
  </thead>
  <tbody class="table-primary">
    <%= render @student %>
  </tbody>
</table>

<ul class="list-group w-25">
  <% for enrollment in @student.enrollments %>
    <li class="list-group-item"><%= enrollment.course.name %></li>
<% end %>
</ul>
<br>

<div class="hstack gap-3">
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <%= link_to "Edit this student", edit_student_path(@student), class:"btn btn-outline-secondary" %> 
    <%= link_to "Enroll courses", new_student_enrollment_path(@student), class:"btn btn-outline-secondary" %>
    <%= link_to "Back to students", students_path, class:"btn btn-outline-secondary" %>
  </div>

  <div class="ms-auto">
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Delete
    </button>
  </div>

  <%= render "shared/modal" %>
