<%= form_with(model: [@student, enrollment]) do |form| %>

  <div>
    <%= form.label "Student Id", style: "display: block" %>
    <%= form.text_field :student_id, class:"form-control w-25" %>
  </div><br>

  <div>
    <%= form.label :course, style: "display: block" %>
    <%= form.collection_select :course_id, Course.all, :id, :name, class:"form-select" %>
  </div><br>

  <div class="btn-group me-2" role="group" aria-label="Second group">
    <%= form.submit class:"btn btn-outline-primary" %>

<% end %>
