<%= form_with(model: [@student, enrollment]) do |form| %>

  <div>
    <%= form.label "Student", style: "display: block" %>
    <%= form.collection_select :student_id, Student.all, :id, :name, {:include_blank => true}, {class: "form-select w-25"} %>
  </div><br>

  <div>
    <%= form.label :course, style: "display: block" %>
    <%= form.collection_select :course_id, Course.all, :id, :name, {:include_blank => true}, {class: "form-select w-25"} %>
  </div><br>

  <div class="btn-group me-2" role="group" aria-label="Second group">
    <%= form.submit class:"btn btn-outline-primary" %>

<% end %>
