<h2>Enrolled Students</h2>

<ol class="list-group list-group-numbered w-50">
  <% @course.students.each do |student| %>
    <li class="list-group-item" ><%= student.name %></li>
  <% end %>
</ol> 
<br>
<h2>Enrolled Assignments</h2>
<div id="course-card" class="container overflow-hidden">
  <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
    <% @course.assignments.each do |assignment| %>
      <div class="col-6">
        <div class="Course border col p-3 rounded">
          <div class="title text-center"><small><%= assignment.course.name %></small></div>
          <hr class="opacity-50">
          <p class="text-center"><small><%= assignment.title %></small></p>
          <small><%= assignment.marks %> marks</small>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>

<div>
  <div class="btn-group me-2" role="group" aria-label="Basic outlined example">
    <%= link_to "Edit this course", edit_course_path(@course), class:"btn btn-outline-secondary" %> 
    <%= link_to "Back to courses", courses_path, class:"btn btn-outline-secondary" %>
  </div>
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Delete
    </button>

    <%= render "shared/modal" %>
</div>
